.item {
    /* float: left; */
    display: block;
    padding: 2em;
    width: 80%;
    height: 200px;
    text-align: left;
}

.itemsList {
    list-style-type: none;
}

.figCaption {
    text-align: center;
}

.image {
    border: solid 1px gray;
    border-radius: 5%;
    padding: 1em;
    height: 50px;
    width: 50px;
}